@page
@model IndexModel
@{    
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Cohen APP1</h1>
    <p>This is Cohen APP1</p>
    <hr />
    <div>Host operating system: @Model.OSVersion</div>
</div>
